.bg-menu {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;

  padding: 60px 0;
  text-align: center;
  width: 100%;

  background-color: #fff;
  // border-top: 1px solid #ececec;

  // transform: translateY(60px);
  // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include for-size(tablet-landscape) {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    margin-left: 50px;
  }

  @include for-size(desktop) {
    margin-left: 90px;
  }
}
.bg-menu.is-open {
  display: block;
}
