.mailing-block {
  //
  margin-top: 20px;

  & .btn {
    @include for-size(phone-only) {
      margin-top: 20px;
    }

    @include for-size(tablet-portrait) {
      margin-top: 20px;
    }

    @include for-size(desktop) {
      margin-top: 0;
    }
  }

  @include for-size(desktop) {
    display: flex;
  }
}

.mailing-block {
  .btn::after {
    content: " ";
    background-image: url("../img/icons/sendicon.svg");
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
  .btn:hover {
    color: $main-white-color;
    background-color: $accent-color;
  }
}
