.navigation {
  border-bottom: 1px solid #ececec;

  @include for-size(phone-only) {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }

  @include for-size(tablet-portrait) {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }

  @include for-size(tablet-landscape) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.nav-list {
  @include for-size(phone-only) {
    display: block;
  }

  @include for-size(tablet-portrait) {
    display: block;
  }

  @include for-size(tablet-landscape) {
    display: flex;
  }

  &-item {
    position: relative;
  }

  &-item:not(:last-child) {
    @include for-size(tablet-landscape) {
      margin-right: 50px;
    }
  }

  &-item:not(last-child) {
    @include for-size(desktop) {
      margin-right: 50px;
    }
  }
}

.link-list {
  @include for-size(tablet-landscape) {
    text-align: left;
  }

  @include for-size(desktop) {
    display: flex;
  }
}
// .link-list {
//   // display: flex;
// }
